# Конфигурация базы данных
DB=swapi_characters.db

# Файл миграции
MIGRATION=migration.sql

# URL API SWAPI
URL=https://www.swapi.tech/api/people/{id}/
API_PEOPLE_URL=https://www.swapi.tech/api/people/

# Настройки сессии
CONNECTOR_LIMIT=10
TIMEOUT=30
RETRY_MAX=3

# Настройки загрузки
BATCH_SIZE=50